* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cormorant Garamond", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #CDAA7D;
  background-color: #0a1111;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.background-image {
  min-height: 100vh;
  background: url(../img/header-bg.png) no-repeat center center;
  background-size: cover;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffffff;
  padding: 30px;
  box-sizing: border-box;
}

.menu-link {
  text-decoration: none;
  color: #CDAA7D;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  border: 1px solid transparent;
  transition: all 0.3s;
}

.head-icon {
  font-size: 40px;
  line-height: 40px;
}

.menu-link:hover {
  color: #ffffff;
}

.menu-border:hover.menu-link {
  border-bottom: 1px solid #ffffff;
}

.header__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 100%;
  max-width: 600px;
  text-align: center;
  margin: 15vh auto;
}

.quote {
  margin-bottom: 95px;
  margin-top: 120px;
}

.quote__box {
  max-width: 856px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.quote__text {
  font-weight: 700;
  font-size: 27px;
  line-height: 130%;
  text-align: center;
}

.services {
  margin-bottom: 150px;
}

.services__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 44px;
}

.services__item {
  margin-bottom: 36px;
  position: relative;
}

.services__title::before {
  content: "";
  display: block;
  width: 396px;
  height: 300px;
  border: 1px solid transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -10;
  transition: all 0.3s;
}

.services__title {
  font-size: 30px;
  line-height: 120%;
  margin-top: 30px;
  font-weight: 400;
  transition: all 0.3s;
}

.services__item:hover .services__title {
  color: #ffffff;
}

.services__item:hover .services__title::before {
  border: 1px solid #ffffff;
  transform: translate(20px, -20px);
}

.materials-logo {
  margin-bottom: 160px;
}

.materials-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.works {
  margin-bottom: 100px;
}

.pages__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 80px;
}

.works__filter {
  list-style: none;
  display: flex;
  gap: 60px;
  justify-content: center;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 60px;
}

.filter-item {
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}

.filter-item:hover {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.works__box {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.footer-box {
  border-top: 1px solid #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 10px;
  box-sizing: border-box;
}

.footer-logo {
  display: block;
  text-decoration: none;
}

.foot-logo {
  color: #CDAA7D;
  font-size: 65px;
  line-height: 65px;
  transition: all 0.3s;
}

.foot-logo:hover {
  color: #ffffff;
}

.footer__title {
  font-weight: 700;
  font-size: 24px;
  line-height: normal;
  margin-bottom: 30px;
}

.footer__list {
  list-style: none;
}

.footer__list > li {
  font-size: 18px;
  line-height: normal;
  margin-bottom: 18px;
}

.footer-soc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-icon {
  font-size: 36px;
  line-height: 36px;
  color: #CDAA7D;
}

.footer-icon:hover {
  color: #ffffff;
}

.footer-copy {
  border-top: 1px solid #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  padding: 20px;
}

.pages-margin {
  margin-top: 80px;
  margin-bottom: 100px;
}

.masters__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.master__item {
  margin-bottom: 40px;
  position: relative;
}

.master__item:hover .master__name {
  color: #ffffff;
}

.master__name::before {
  content: "";
  display: block;
  width: 400px;
  height: 477px;
  border: 1px solid #ffffff;
  position: absolute;
  top: -16px;
  left: 16px;
  z-index: -10;
}

.master__name {
  font-weight: 700;
  font-size: 27px;
  line-height: 130%;
  margin-top: 30px;
}

.master__about {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  margin-top: 10px;
}

.price__box {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.price__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 134px;
}

.price__item:nth-child(2n) {
  flex-direction: row-reverse;
}

.price__img {
  display: block;
}

.price-table {
  font-weight: 700;
  font-size: 27px;
  line-height: 130%;
  width: 100%;
  border-collapse: collapse;
}

.bigger-row {
  padding-bottom: 10px;
  padding-top: 30px;
}

.price__value {
  text-align: right;
  padding-bottom: 10px;
  padding-top: 30px;
}

.smaller-row {
  font-weight: 400;
  font-size: 18px;
  border-bottom: 1px solid #CDAA7D;
  padding-bottom: 10px;
}

.action-banner-1 {
  min-height: 60vh;
  background: url(../img/actions1.jpg) no-repeat center center;
  background-size: cover;
  margin-bottom: 100px;
  font-size: 70px;
  box-sizing: border-box;
  padding-top: 220px;
  text-align: center;
}

.action-banner-2 {
  min-height: 60vh;
  background: url(../img/actions2.jpg) no-repeat center center;
  background-size: cover;
  margin-bottom: 100px;
  font-size: 70px;
  box-sizing: border-box;
  padding-top: 220px;
  padding-left: 5%;
}

.contacts__map {
  filter: grayscale(100%);
}

.contacts__info {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}

.contacts__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;
  margin-bottom: 34px;
}

.contacts__content {
  list-style: none;
  font-size: 24px;
  line-height: 130%;
}

.background-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-box {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-field {
  height: 60px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 15px 20px 15px 60px;
  box-sizing: border-box;
  border: none;
  color: #ffffff;
  font-family: "Cormorant Garamond";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.button-simple {
  height: 60px;
  background-color: #CDAA7D;
  border-radius: 10px;
  color: #0a1111;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: "Cormorant Garamond";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  box-sizing: border-box;
  transition: all 0.3s;
}
.button-simple:hover {
  background-color: #ffffff;
  border: 1px solid #CDAA7D;
}

.input-box {
  position: relative;
}
.input-box__icon {
  position: absolute;
  font-size: 24px;
  top: 18px;
  left: 20px;
}

.log-acc__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.log-acc__buttons_link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.log-acc__buttons_link:hover {
  background-color: #ffffff;
  border: 1px solid #CDAA7D;
}

.forgetPas__title {
  margin-bottom: 32px;
  text-align: center;
  font-size: 32px;
}

.acc-title {
  margin-bottom: 32px;
  text-align: center;
  font-size: 32px;
}

.acc-box {
  width: 50%;
  margin: 0 auto;
}

.account__buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.account__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.account__link:hover {
  background-color: #ffffff;
  border: 1px solid #CDAA7D;
}/*# sourceMappingURL=style.css.map */